---
import Layout from "@/layouts/Layout.astro";
import HeroContainer from "@/components/HeroContainer.astro";
import data from "@/data/docEnviar.json";
import DataEnvio from "@/components/pages/DataEnvio.astro"

const { id } = Astro.params;

const index = Number(id);

const pais = data.bank[index].pais;
---

<section>
  <DataEnvio pais={pais} />
</section>

<!-- <Layout title="Enviar Dinero" description="Enviar Dinero">
  <HeroContainer img="/ComoEnviar.webp">
    <span class="shadown text-8xl font-great tracking-widest text-wrap">
      Cómo Enviar Dinero
    </span>
  </HeroContainer>

  <section
    class="text-xl text-left px-20 max-w-[90ch] text-pretty mx-auto my-24 mt-40"
  >
    <div class="grid gap-4">
      <h1
        class="text-4xl font-semibold text-center text-wrap mx-auto tracking-wide"
      >
        Como enviar dinero desde {pais.nombre}
      </h1>
      <div class="flex justify-center">
        <img class="w-40" src={pais.bandera} alt="" />
      </div>
    </div>

    <section class="flex flex-col gap-8">
      <h4 class="mb-10">Publicado: 25 Oct. 2024</h4>

      <div>
        <h2 class="mb-4 font-semibold text-3xl">
          ¿Cómo enviar dinero al extranjero desde {pais.nombre}?
        </h2>

        <p>
          En Yomi's Cash, recibimos pagos en {pais.nombre} de manera local por las
          entidades financieras:
        </p>
        <ul>
          {
            pais.banco.map((banco) => (
              <li>
                <div class="flex items-center">
                  <img
                    src={banco.logo}
                    alt={`Logo de ${banco.nombre}`}
                    class="w-8 mr-2"
                  />
                  <p>{banco.nombre}</p>
                </div>
              </li>
            ))
          }
        </ul>
        <p>
          Si deseas enviar dinero de {pais.nombre} solo necesitaras una agencia Bancaria
          cercana donde acudir a hacer el pago o por medio de la app de su preferencia.
          La información necesaria para el pago te será proporcionada al
          <a href="/contacto" class="font-semibold">contactarnos</a>. <span>
            Conoce los <a href="/paises" class="font-semibold">paises</a> del extranjero
            que están bajo cobertura de nuestros corresponsales. Tambien puedes visitar
            nuestra seccion de Como Funciona, donde podras encontrar respuesta a
            tus dudas.
          </span>
        </p>
      </div>

      <div>
        <h2 class="mb-4 font-semibold text-3xl">
          ¿Cómo me pueden enviar dinero desde {pais.nombre}?
        </h2>

        <p>
          Lo primero que debes saber es si el país donde deseas recibir el
          dinero esté bajo cobertura de nuestros corresponsales, en caso de ser
          así, solo debes indicarle a la persona que hará el envío de dinero en
          {pais.nombre} que nos <a href="/contacto" class="font-semibold"
            >contacte</a
          > para gestionar el envío.
          <span>
            Los pagos en {pais.nombre} son muy sencillos ya que se reciben de manera
            local por medio de los agentes bancarios del país.
          </span>
        </p>
      </div>

      {
        pais.nombre !== "Venezuela" && (
          <div>
            <h2 class="mb-4 font-semibold text-3xl">
              ¿Cómo enviar dinero desde {pais.nombre} a Venezuela?
            </h2>

            <p>
              Si deseas enviar dinero desde {pais.nombre} a Venezuela con
              rapidez, lo primero que necesitarías será la información de la
              cuenta venezolana (nombre del beneficiario, numero de cedula,
              numero de cuenta o datos de pago movil). En {pais.nombre} el pago
              lo podrás hacer por medio de las agencias bancarias o app de tu
              preferencia.
              <span>
                La información necesaria para gestionar el envio de dinero, te
                será proporcionada al{" "}
                <a href="/contacto" class="font-semibold">
                  contactarnos
                </a>
                .
              </span>
            </p>
          </div>
        )
      }

      {
        pais.nombre !== "Colombia" && (
          <div>
            <h2 class="mb-4 font-semibold text-3xl">
              ¿Cómo enviar dinero de {pais.nombre} a Colombia?
            </h2>

            <p>
              Enviar dinero de {pais.nombre} a Colombia es muy facil. Con
              nuestro servicio podrás enviar dinero desde {pais.nombre} tan solo
              haciendo un deposito o una transferencia a las entidades bancarias
              o usando las app de tu preferencia, usando tu moneda local.{" "}
              <span>
                En Colombia los pagos a la cuenta destinataria generalmente se
                hacen por medio de: Bancolombia, Nequi o Efecty, directamente en
                pesos colombianos, también de manera local. La información
                necesaria para el gestionar un envio te será proporcionada al{" "}
                <a href="/contacto" class="font-semibold">
                  contactarnos
                </a>
                .
              </span>
            </p>
          </div>
        )
      }

      {
        pais.nombre !== "Chile" && (
          <div>
            <h2 class="mb-4 font-semibold text-3xl">
              ¿Cómo se puede enviar dinero desde {pais.nombre} a Chile?
            </h2>

            <p>
              Enviar dinero de {pais.nombre} a Chile nunca había sido tan
              sencillo. Con nuestro servicio podrás enviar dinero desde{" "}
              {pais.nombre} tan solo haciendo un deposito o una transferencia a
              las entidades bancarias o por medio de la app de tu preferencia,
              usando tu moneda local.{" "}
              <span>
                En Chile los pagos a la cuenta destinataria generalmente se
                hacen por medio de los bancos: Estado o Santander, directamente
                en pesos chilenos, también de manera local. La información
                necesaria para el pago te será proporcionada al{" "}
                <a href="/contacto" class="font-semibold">
                  contactarnos
                </a>
                .
              </span>
            </p>
          </div>
        )
      }

      {
        pais.nombre !== "Estados Unidos" && (
          <div>
            <h2 class="mb-4 font-semibold text-3xl">
              ¿Cómo enviar dinero a Estados Unidos desde {pais.nombre}?
            </h2>

            <p>
              Si deseas enviar dinero desde {pais.nombre} a USA con facilidad,
              lo primero que necesitarías será la información de la cuenta
              destinataria ZELLE (correo, nombre del beneficiario). En{" "}
              {pais.nombre} el pago lo podrás hacer de manera sencilla a través
              de las entidades bancarias o por medio de la app de tu
              preferencia.{" "}
              <span>
                La información necesaria para el pago te será proporcionada al
                <a href="/contacto" class="font-semibold">
                  contactarnos
                </a>
                .
              </span>
            </p>
          </div>
        )
      }

      {
        pais.nombre !== "España" && (
          <div>
            <h2 class="mb-4 font-semibold text-3xl">
              ¿Cómo enviar dinero desde {pais.nombre} a España?
            </h2>

            <p>
              Si deseas enviar dinero desde {pais.nombre} a España con
              facilidad, lo primero que necesitarías será la información de la
              cuenta destinataria española (IBAN, nombre del beneficiario,
              nombre del banco y correo electronico). En {pais.nombre} el pago
              lo podrás hacer de manera sencilla ya sea por el las entidades
              bancarias o las app de tu preferencia.{" "}
              <span>
                La información necesaria para el pago te será proporcionada al
                <a href="/contacto" class="font-semibold">
                  contactarnos
                </a>
                .
              </span>
            </p>
          </div>
        )
      }

      <div class="boton flex justify-center">
        <a
          href="/contacto"
          class="py-3 px-32 text-xl font-medium text-white border border-solid border-white rounded-full sm:w-fit hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-primary-300"
        >
          Contactanos
        </a>
      </div>
    </section>
  </section>
</Layout>

<style>
  a {
    transition:
      text-shadow 0.5s ease-out,
      box-shadow 0.3s ease-out;
  }

  .boton a:hover {
    box-shadow: 0 0 15px #fff;
    text-shadow: 1px 1px 20px #fff;
  }

  a:hover {
    text-shadow: 1px 1px 20px #fff;
  }
</style> -->
