---
import { supabase } from "@/lib/supabase";
import Layout from "@/layouts/Layout.astro";
import HeroContainer from "@/components/HeroContainer.astro";
import PaisItemList from "@/components/PaisItemList.astro";
import { isAuthenticated } from "@/middleware/auth";
import { getI18N } from "@/i18n/";
import Logo from "@/components/Logo.astro";
import AddIcon from "@/components/icons/AddIconDB.astro";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";

const auth = await isAuthenticated(Astro, ["admin"]);

if (auth) {
  return auth;
}

let countrys = [];

const { data, error } = await supabase
  .from("exchange_rates")
  .select("*")
  .order("country", { ascending: true }); // Ordenar por nombre del país (ascendente);

if (data) {
  countrys = data;
} else {
  console.error("Error al obtener tasas:", error);
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title="Países" description="Países">
  <HeroContainer img="/Admin.webp">
    <span
      class="shadown text-center text-6xl lg:text-8xl tracking-widest text-wrap font-great"
      >{i18n.ADMIN.TITLE}</span
    >
  </HeroContainer>

  <main>
    <section
      id="trophies-text"
      class="text-xl text-left px-20 max-w-[70ch] text-pretty mx-auto mt-24 grid gap-4"
    >
      <Logo logoSize={6} />
      <h1
        class="text-6xl font-great text-center text-wrap mx-auto mb-4 tracking-wide"
      >
        {i18n.ADMIN.TITLE_2}
      </h1>
      <h2
        class="text-2xl font-semibold text-center text-wrap mx-auto mb-4 tracking-wide"
      >
        {i18n.ADMIN.SUBTITLE}
      </h2>
    </section>

    <section
      class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-8 max-w-7xl my-8 mx-auto"
    >
      {
        countrys.map((country, index) => (
          <PaisItemList
            id=""
            href={`/admin/editar/${country.id}`}
            pais={country}
          />
        ))
      }
    </section>
    <div class="container mb-6 flex justify-end">
      <!-- Botón para crear nueva tasa -->
      <a
        href="/admin/crearTasa"
        class="bg-linear-to-t from-blue-900 to-[rgba(52,216,251,1)] hover:scale-110 text-white p-1 sm:py-1.5 sm:px-4 rounded-full flex w-fit"
      >
        <AddIcon class="size-5 sm:mr-5" />
        <span class="hidden sm:block">País</span>
      </a>
    </div>
  </main>
</Layout>
